<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HybridFrmworkSuite">
<listeners>
     <listener class-name="com.qa.linkedin.listeners.ExtentReportListener"></listener>
  </listeners>
  <test thread-count="5" name="HybridFrmworkTest">
    <classes>
      <class name="com.qa.linkedin.testcase.SearchDDTest"/>
    </classes>
  </test> <!-- HybridFrmworkTest -->
</suite> <!-- HybridFrmworkSuite -->
